<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.base.board.event.EventDAO">

<sql id="eventCondition">
  		<where>
  			<if test="kind=='title'">
  				TITLE LIKE 'CONCAT('%',#{search},'%')
  			</if>
  			<if test="kind=='contents'">
  				CONTENTS LIKE CONCAT('%', #{search},'%')
  			</if>
  			<if test="kind=='writer'">
  				WRITER LIKE 'CONCAT('%', #{search}, '%')
  			</if>
  		</where>
  	</sql>
  
  
  
  <select id="getEventList" parameterType="Pager" resultMap="getEventDetailResult">
	  
	  SELECT * FROM EVENT
			
				
					
						<include refid="eventCondition"></include>						
						ORDER BY NUM DESC
				
		
		LIMIT #{startRow}, #{perPage} 
	
  	</select>
  
  <insert id="setEventAdd" parameterType="EventVO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT EVENT_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO EVENT (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT, STARTDATE, ENDDATE)
  		VALUES(#{num}, #{title}, #{contents}, #{writer}, sysdate, 0, #{startDate}, #{endDate})
  </insert>
  
  
  <insert id="setEventFileAdd" parameterType="EventFileVO">
  		INSERT INTO EVENTFILES (FILENUM, NUM, FILENAME, ORINAME)
  		VALUES(EVENT_SEQ.NEXTVAL ,#{num}, #{fileName}, #{oriName})
  </insert>
 
 
 <resultMap type="EventVO" id="getEventDetailResult">
  		<id column="num" property="num"/>
  		<result column="title" property="title"/>
  		<result column="writer" property="writer"/>
  		<result column="contents" property="contents"/>
  		<result column="regDate" property="regDate"/>
  		<result column="hit" property="hit"/>
  		<result column="startDate" property="startDate"/>
  		<result column="endDate" property="endDate"/>
  		
  		<collection property="eventFileVOs" javaType="List" ofType="EventFileVO">
  			<id column="fileNum" property="fileNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  	
  </resultMap>
  
  <select id="getTotalCount" parameterType="Pager" resultType="Long">
  		SELECT COUNT(NUM) FROM EVENT
  		<include refid="eventCondition"></include>
 </select>
 
 
 <select id="getEventDetail" parameterType="EventVO" resultMap="getEventDetailResult">
 	 	SELECT N.*, NF.*
		FROM EVENT N
			 LEFT JOIN
			 EVENTFILES NF
			 ON(N.NUM = NF.NUM)
		WHERE N.NUM=#{num}	
  </select>
  
  <select id="getDateCheck" parameterType="EventVO" resultType="EventVO">
  		SELECT STARTDATE, ENDDATE
  		FROM EVENT
  </select>
  
  <delete id="setEventDelete" parameterType="EventVO">
  		DELETE EVENT WHERE NUM=#{num}
  </delete>
  
  
   <update id="setEventUpdate" parameterType="EventVO">
  		UPDATE EVENT SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
  	</update>

</mapper>  